body {
    font-family: 'Poiret One', cursive;
    width: 100vw;
    height: 100vh;
}
header {
    background-color: black;   
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1 {
    font-family: 'Pacifico', cursive;
    color: red;
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    z-index: 10;
}
header button {
    border: none;
    background-color: transparent;
}


header p{
    position: absolute;
    font-size: 20px;
    color: red;
    top: 35%;
    left: 60%;
}

#btn-play{
    position: absolute;
    color: red;
    top: 40%;
    left: 60%;
    z-index: 11;
} 
#btn-pause{
    position: absolute;
    color: red;
    top: 40%;
    left: 62%;
    z-index: 11;
} 

.video-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

svg{
    color: red;
}

main {
    background-image: url(../assets/bg_songs.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#search-bar{
    width: 30em;
    padding: 20px;
    margin: auto;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
} 
.card{
    width: 13rem;
    color: #681124;
}

.card h5 {
    font-size: 20px;
    text-align: center;
}
.container-fluid {
    max-width: 1480px;
    text-align: center;
    color: #681124;
}
h2 {
    font-size: 70px;
    padding: 0.3em;
}
footer{
    background-color:#622936;
    display: flex;
    align-items: center;
}

